<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BrickRunner-Shop</title>
  <link rel="stylesheet" href="styles/admin_panel.css">
</head>
<body>
    <div class="container">
        <header class="header">
          <a href="{{ url_for('main') }}">
            <img src="images/log.png" alt="Логотип" class="header-logo">
          </a>
          <div class="header-icons">
            <img src="images/dark_theme.svg" class="dark-mode-icon" id="theme-toggle" alt="Темная тема">
            <div class="cart-icon-wrapper" style="position: relative;">
              <a href="{{ url_for('view_cart') }}">
                <img src="/images/bag.svg" class="shopping-bag-icon" alt="Корзина">
                {% if cart_item_count > 0 %}
                  <span class="cart-count">{{ cart_item_count }}</span>
                {% endif %}
              </a>
            </div>  
            <div class="account-wrapper">
              <img src="images/account.svg" class="account-icon" alt="Профиль">
              <div class="account-panel">
                {% if current_user.is_authenticated %}
                  <a href="{{ url_for('logout') }}">Выйти</a>
                {% else %}
                  <a href="{{ url_for('auth') }}">Войти</a>
                {% endif %}
              </div>
            </div>
          </div>
        </header>  
        <div class="buttons">
          <a href="{{ url_for('admin_panel_addProduct') }}">
            <button id="add_product">Добавить товар</button>
          </a>  
          <a href="{{ url_for('admin_panel_deleteProduct') }}">
            <button id="delete_product" type="button">Удалить товар</button>
          </a>
          <a href="{{ url_for('admin_panel_stock') }}">
            <button id="view_stock">Посмотреть остатки</button>
          </a>
        </div>
      </div>      
<script src="scripts/admin_panel.js"></script>
</body>
</html>
