<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BrickRunner-Shop</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="container">
        <header class="header">
          <a href="{{ url_for('main') }}">
            <img src="images/log.png" alt="Логотип" class="header-logo">
          </a>
          <div class="header-icons">
            <img src="images/dark_theme.svg" class="dark-mode-icon" id="theme-toggle" alt="Темная тема">
            <div class="cart-icon-wrapper" style="position: relative;">
              <a href="{{ url_for('view_cart') }}">
                <img src="/images/bag.svg" class="shopping-bag-icon" alt="Корзина">
                {% if cart_item_count > 0 %}
                  <span class="cart-count">{{ cart_item_count }}</span>
                {% endif %}
              </a>
            </div>  
            <a href="{{ url_for('account') }}">
              <img src="images/account.svg" class="account-icon" alt="Профиль">
              </a>
          </div>
        </header>
        <main class="menu">
          {% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">Выйти</a>
{% else %}
    <a href="{{ url_for('auth') }}">Войти</a>
{% endif %}

          <div class="menu-item-clothes">
            <a href="{{ url_for('clothes') }}">
              <img src="images/shirt.svg" alt="Одежда" class="menu-icon-clothes">
              <span>Одежда</span>
            </a>
          </div>
          <div class="menu-item-shoes">
            <a href="{{ url_for('shoes') }}">
            <img src="images/shoe.svg" alt="Обувь" class="menu-icon-shoes">
            <span>Обувь</span>
            </a>
          </div>
          <div class="menu-item-accessories">
            <a href="{{ url_for('acessories') }}">
              <img src="images/acessories.svg" alt="Аксессуары" class="menu-icon-accessories">
              <span>Аксессуары</span>
            </a>
          </div>
          <div class="menu-item-allProducts">
            <a href="{{ url_for('all_products') }}">
              <img src="images/all_products.svg" alt="Все товары" class="menu-icon-allProducts">
              <span>Все товары</span>
            </a>
          </div>
        </main>        
      </div>      
  <script src="scripts/main.js"></script>
</body>
</html>
